.root {
  font-family: 'Inter', sans-serif;
  width: 50%;
}

.socialList {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.item {
  list-style-type: none;
}

.logo {
  cursor: pointer;
}
