.root {
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.socialList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;

  @media (min-width: 500px) {
    gap: 60px;
  }
}

.item {
  list-style-type: none;
}

.logo {
  cursor: pointer;
}
