.root {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  padding: 24px 0;
  max-width: 640px;

  @media (min-width: 500px) {
    padding: 32px 0;
  }
}

.legals {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.item {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;

  list-style-type: none;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: #3366ff;
  font-family: 'Mulish', sans-serif;
  transition: color 0.5s ease;

  &:hover {
    color: #2b57d9;
  }
}
